@import '../../../variables';

#navigation-menu {
	background-color: white;

	.menu-heading {
		height: 64px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		.btn-dismiss {
			width: 63px;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}

		img {
			width: 56px;
		}
	}

	/**
	 * PRIMARY NAVIGATION
	 */
	nav {
		display: flex;
		flex-direction: column;

		.nav-item {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			width: 100%;
			height: 85.5px;
			padding-right: 21.5px;
			border-left: 3px solid transparent;

			&:not(:last-of-type) {
				.link-title {
					border-bottom: 1px solid #e4e4e4;
				}
			}

			.icon--active {
				display: none;
			}

			.icon-container {
				width: 61px;

			}

			.link-title {
				flex-grow: 2;
				height: 100%;
				display: flex;
				align-items: center;
				font-size: 18px;
				font-weight: bold;
				color: $text-black;
			}

			&.nav-item--active {
				border-left: 3px solid $light-blue;
				background-color: $background-color;

				.link-title {
					color: $light-blue;
				}
			}
		}
	}
}
