<div class="add-user-form-container"
	[class.form--visible]="formVisible"
	(click)="dismissForm()">

	<div class="add-user-form" (click)="$event.stopPropagation()">
		<section class="form-heading">
			<h6>
				+ ADD A NEW USER	
			</h6>	
			<button class="btn-dismiss flex--centered"
				(click)="dismissForm()">
				<span class="icon-close--light"></span>	
			</button>
		</section>
		<form (ngSubmit)="onFormSubmit()">
			<div class="input-item">
				<label>
					Upload Profile Picture	
				</label>	
				<label class="profile-pic-uploader flex--centered">
					<input type="file" />
					<span class="icon-profile"></span>	
				</label>
			</div>
			<div class="input-item">
				<label>
					Name
				</label>	
				<input type="text" placeholder="Enter name" />
			</div>	
			<div class="input-item">
				<label>
					Email ID
				</label>	
				<input type="text" placeholder="Enter email ID" />
			</div>	
			<div class="input-item">
				<label>
					User ID
				</label>	
				<input type="text" placeholder="Enter user ID" />
			</div>	
			<div class="input-item input-item--select">
				<label>
					Role
				</label>	
				<app-select-control
					prompt="Select"
					[options]="roleOptions"></app-select-control>
			</div>
			<div class="input-item">
				<label>
					Phone Number	
				</label>	
				<input type="text" placeholder="Enter phone number" />
			</div>

			<!-- FORM ACTIONS -->
			<div class="form-actions">
				<button class="btn-cancel" type="button" (click)="dismissForm()">
					CANCEL	
				</button>	
				<button class="btn-submit" type="submit">
					SUBMIT	
				</button>
			</div>
		</form>	
	</div>
</div>
