<div class="store-status-history-card">

	<div class="left-axis-line"></div>
	
	<div class="bar-container" *ngFor="let stat of history"
		[class.bar--current-hour]="stat.time === currentHour">
		<div class="active-percent-bar"
			[style.height]="( maxBarHeight * ( maxActivePercent / 100 )) + 'px'">
			<div class="bar"
				[style.height]="( maxBarHeight * ( stat.percentActive / 100 )) + 'px'"></div>
		</div>	
		<div class="issue-percent-bar"
			[style.height]="( maxBarHeight * ( maxIssuePercent / 100 )) + 'px'">
			<div class="bar"
				[style.height]="( maxBarHeight * (( 100 - stat.percentActive) / 100)) + 'px'"></div>
		</div>	
		<label class="time-label flex--centered">
			{{ stat.time }}	
		</label>
	</div>


	<div class="right-axis-line"></div>
</div>
